<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.finance.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TransactionController</servlet-name>
        <servlet-class>com.finance.controllers.TransactionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionController</servlet-name>
        <url-pattern>/transaction</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
